body {
	background-color: #FBEFD5;
	font-family: sans-serif;
	font-size: 13px;
}

h1, h2, h3 {
	margin: 5px;
}

a:hover {
}


.lrdCodeBlock {
	background-color: #FCF3E0;
	border: 1px solid lightgray;
	padding: 10px;
}

li {
	padding: 1px;
}

#lrdSearchForm {
    position: absolute;
    top: 20px;
    right: 20px;	
}

#lrdFooter {
	color: #777;
	font-style: italic;
	font-size: 0.9em;
}